<%- include('./inc/header') %>

    <main>
        <section class="filter">
            <div class="langs">
                <% topics.forEach(topic => { %>
                    <a href="/posts/lang/<%= topic.lang.replace(' ', '-') %>" class="lang-button"><%= topic.lang %></a>
                <% }) %>
            </div>
        </section>

        <section class="posts">
            <%- include('./inc/postsContainer') %>
        </section>
    </main>

    <%- include('./inc/footer') %>