<%- include('./inc/header') %>

    <main>
        <section class="profile-infos">
            <input type="hidden" value="<%= id_post %>" class="post-id">
            <input type="hidden" value="ᴊᴏʀɢɪɴ" class="user">
            <% if (isLogged === true && name_author === name || admin === true) { %>
                <div class="button-options"> <i class="fas fa-ellipsis-v"></i> </div>
                <div class="options">
                    <button class="exclude">Excluir post</button>
                </div>
            <% } %>

                    <div class="photo"> <img src="<%= photo_author %> " alt="Photo profile"> </div>
                    <div class="div-name">
                        <span class="name">
                            <%= name_author %>
                        </span>
                        <span class="lang">
                            <%= lang %>
                        </span>
                        <span class="created-at">
                            <%= create %>
                        </span>
                    </div>
        </section>

        <section class="post">
            <div class="title">
                <h1>
                    <%- title %>
                </h1>
            </div>

            <div class="description">
                <article>
                    <p>
                        <%- content %>
                    </p>
                </article>
            </div>
        </section>
    </main>

    <% if (isLogged=== true && name_author === name || admin === true) { %>
        <script src="/scripts/single-post.js"></script>
    <% } %>
    <%- include('./inc/footer') %>